---
import Layout from '../layouts/Layout.astro';
import Comparison from '../components/Comparison';
---

<Layout title="Prioritizer">
	<main>
		<h1 class="text-2xl mb-8">Prioritizer</h1>
		<p>Sort a list of items by priority, or just find the top priority.</p>
		<hr class="my-8 border-slate-800" />
		<Comparison client:load />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
